@charset "utf-8";


html {
		max-width: 100%;
    }
	
body {
		font-size: 2.5em;
		background-image: url(pizzabg.jpeg);
	}

form {
	font-family: 'Ranga', cursive;
	background-color: rgb(195, 239, 226);
	box-shadow: 3px 3px 10px;
}
